* {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url("https://static.wikia.nocookie.net/logosrupaulsdragrace/images/6/62/RDR14.jpg");
    background-color: #cccccc;
    background-position: center;
    background-size: 300px 300px;
}

h1 {
    color: #FFC0CB;
    background-color: #818384;
}


.game-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    zoom: 1.4;
}

.end-game-container {
    height: 30vh;
    width: 30vh;
    display: flex;
    align-items: center;
    background-color: #FFC0CB;
    text-align:center;
    vertical-align:middle
}

.end-game-container h1 {
    height: 30vh;
    width: 30vh;
    display: flex;
    align-items: center;
    background-color: #FFC0CB;
    text-align:center;
    vertical-align:middle
}

.title-container {
    text-align: center;
    width: 300px;
}

.tile-container {
    width: 350px;
    height: 420px;
    margin-bottom: 30px;
    background-color: #FFC0CB; 
}

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    margin: 4px;
}

.key-container button:nth-child(11) {
    margin-left: 30px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
    width: 68px;
}

.tile-container div {
    display: flex;
}

.tile-container .tile {
    width: 66px;
    height: 66px;
    border: 3px solid#3a3a3c;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.message-container {
    height: 30px;
    margin: 30px;
}

.message-container p {
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.container {
      display: none;
      width: 45%;
      height: 60%;
      max-width: 300px;
      max-height: 500px;
      position: fixed;
      background-color: #818384;
      margin-top: 100px;
      z-index: 2;
      align-items: center;
      justify-content: center;
      padding: 16px 0;
}

#results {
    position: absolute;
    top: 15%;
    left: 25%;
    white-space: pre-wrap;
    font-size : 20px;
}

#resultTitle {
    position: absolute;
    
    left: 25%;
    font-size : 20px;
}

#shareResults {
    position: absolute;
    top: 80%;
    left: 25%;
    height: 50px;
    width: 130px;
    color: #818384;
    background-color: #FFC0CB;
    font-size : 20px;
    font-weight: bold;
    margin: 2px;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}



.grey-overlay {
    background-color: #3a3a3c !important;
    border:none !important;
}
.yellow-overlay {
    background-color: #b59f3a !important;
    border:none !important;
}

.green-overlay {
    background-color: #538d4e !important;
    border:none !important;
}
